name: marp-to-pages
concurrency: marp-to-pages

on:
  push:
    branches: [ master ]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Ensure build dir exists
        run: mkdir -p build

      - name: Copy images directory (if exists)
        run: if [[ -d img ]]; then cp -R img build/img; fi

      - name: Marp Build (README)
        uses: docker://marpteam/marp-cli:v4.1.2
        with:
          args: index.md -o build/index.html
        env:
          MARP_USER: root:root

      - name: Remove Marp fragment animations
        run: |
          echo "Patching build/index.html to remove fragments..."
          sed -i 's/\s\+data-marpit-fragment="[^"]*"//g' build/index.html
          sed -i 's/\s\+data-bespoke-marp-fragment="[^"]*"//g' build/index.html
          sed -i 's/?f=[0-9]*//g' build/index.html
          sed -i '/bespoke.bullets/d' build/index.html

      - name: Marp Build (README.pdf)
        uses: docker://marpteam/marp-cli:v4.1.2
        with:
          args: index.md --allow-local-files -o build/index.pdf
        env:
          MARP_USER: root:root

      - name: Marp Build (README.pptx)
        uses: docker://marpteam/marp-cli:v4.1.2
        with:
          args: index.md --allow-local-files -o build/index.pptx
        env:
          MARP_USER: root:root

      - name: Check if docs folder exists
        id: docs-folder-exists
        run: bash -c "[[ -d docs ]] ; echo \"has_docs=\$?\" >> \"$GITHUB_OUTPUT\""

      - name: Marp Build (docs folder, if exists)
        if: steps.docs-folder-exists.outputs.has_docs == '0'
        uses: docker://marpteam/marp-cli:v4.1.2
        with:
          args: -I docs/ -o build/docs/
        env:
          MARP_USER: root:root

      - name: Deploy preview
        if: ${{ github.event_name == 'pull_request' }}
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./build/
          preview-branch: gh-pages
          umbrella-dir: pr-preview

      - name: Deploy production
        if: ${{ github.event_name == 'push' }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: ./build/
          clean-exclude: pr-preview/

